*
{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(fondo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header #logo img
{
   float: left;
    width: 150px
}
header #principal 
{
    float: center;
    font-family: Gigi;
    font-size: 350%;
    padding: 0.8em;
}

/*nav
{

}*/

nav ul
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
nav ul li
{
    display: inline-block;
    margin: 3em 0em 5em 0em;
   
}

#contenido .secundario
{
    text-align: center;
    font-family: gabriola;
    font-size: 2.5em;
}

#contenido1 .secundario
{
    text-align: center;
    font-family: gabriola;
    font-size: 2.5em;
}


#contenido2 .secundario
{
    text-align: center;
    font-family: gabriola;
    font-size: 2.5em;
}
#contenido .articulo .parrafo
{
    font-family: gabriola;
    font-size: 2em;
    margin: 80px;
    text-align: justify;
}

#contenido1 .articulo .parrafo
{
    font-family: gabriola;
    font-size: 2em;
    margin: 80px;
    text-align: justify;
}

#contenido2 .articulo .parrafo
{
    font-family: gabriola;
    font-size: 2em;
    margin: 80px;
    text-align: justify;
}

nav #figura img
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}

#contenido #figura1 img
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}

#contenido1 #figura2 img
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}

#contenido2 #figura3 img
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer
{
display: inline;

}
footer .coche
{
    float: left;

}

footer .parrafo
{
    margin: 1em 0 0 0;
    padding: 1.5em;
    font-family: alex brush;
    font-size: 1.7em;
    text-align: center
}

footer .sociales
{
    float: right;
    padding: -5em 0 0 0;
    margin: 0 0 50em -10em;
    
    

}

